.space-main {
    height: 100vh;
    width: 100%;
    background: url('../../assets/Spaceship\ Combat\ Map.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
}
.land-main {
    height: 100vh;
    width: 100%;
    background: url('../../assets/Vehicle\ Combat\ Map.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
}
.mixed-main {
    height: 100vh;
    width: 100%;
    background: url('../../assets/Full\ Combat\ Map.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
}

.combat-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tips-button {
    height: 100%;
    width: 130px;
    background: none;
    border: 1px solid #ffa500;
    outline: none;
    cursor: pointer;
    color: #ffa500;
}

.select-box {
    height: 100%;
    width: 160px;
    margin: none;
    background: none;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.option-dropdown {
    background: #000;
    border: none;
}

.combat-tips {
    height: 90%;
    width: 94%;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 8;
}

.hide-tips {
    display: none;
}