.character-main {
    min-height: 100vh;
    width: 100%;
    background: var(--main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-no-user {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #ff1c1c;
    color: #fff;
    padding-bottom: 3px;
    position: fixed;
    font-size: 12px;
}

/* input, select, and option styling can be found in App.css */

.character-body {
    height: 100%;
    width: 100%;
    padding:  var(--body-padding-small);
}
.character-body input {
    width: 100%;
}

.character-info {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #54e4fd
}
.character-info input, .character-info select {
    width: 48%;
    margin-bottom: -1px;
}

.character-group {
    width: 48%;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.character-group input, .character-group select {
    width: 100% !important;
}
[name='karma'] {
    border: 1px solid var(--karmic-purple);
    margin-top: 2px;
}
[name='endurance'] {
    border: 1px solid var(--enduring-red);
    margin-top: 2px;
}

.character-group3 {
    width: 30%;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.character-group3 input {
    width: 100% !important;
}

.character-bgs {
    border-top: 1px solid #777;
    display: flex;
    margin-top: 16px;
    padding-top: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}
.character-bgs div, .character-bgs select {
    width: 48%;
    margin-top: -1px;
}
.bgs-total {
    width: 100% !important;
    text-align: right;
    margin-top: 4px !important;
    font-size: 13px;
}

.character-karma {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.character-karma div {
    margin-bottom: 3px;
}
.character-karma select, .character-karma input {
    width: 100%;
    margin-top: -1px;
    border: 1px solid var(--karmic-purple);
}

.character-skills {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #777;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}
.character-skills > div {
    width: 100%;
    border: 1px solid #faa500;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 3px 6px 6px 6px;
    background: #212121;
}
.character-skills > div > div:first-child {
    border-bottom: 1px solid #faa500;
    padding: 3px 0;
    margin-bottom: 6px;
    text-align: center;
}
.character-skills > div > div:not(:first-child) {
    display: flex;
    padding: 3px 0px;
    align-items: center;
}
.character-skills > div > div:not(:first-child):not(:last-child) {
    border-bottom: 1px solid #8884;
}
.skill-name {
    flex: 2;
}
.skill-value {
    flex: 1;
    text-align: center;
}
.skill-bonus {
    flex: 1;
    text-align: right;
}

.character-enhance {
    border: 1px solid #29d9df !important;
    display: flex;
    flex-direction: column;
}
.character-enhance div {
    border-color: #29d9df !important;
    margin-bottom: 3px !important;
}
.enhancement-list {
    display: flex;
    flex-direction: column;
    border: none !important;
}

.character-learning {
    margin-top: 16px;
    border-top: 1px solid #777;
    padding-top: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.character-learning > div:first-child {
    margin-bottom: 3px;
}
.each-learn {
    display: flex;
    margin-bottom: -1px;
}
.each-learn div {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #faa500;
    border-radius: 3px;
    border-right: none;
    background: #212121;
}
.each-learn select {
    width: 100%;
}

.character-equipment {
    width: 100%;
    margin-top: 16px;
    border-top: 1px solid #777;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.character-equipment div {
    width: 100%;
    color: #fff;
    margin-bottom: 3px;
}
.character-equipment select {
    width: 48%;
    margin-bottom: -1px;
}
.character-equipment select:disabled {
    color: #777;
    background: #313132;
}

.character-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 30px;
}
.character-buttons button {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px #0008;
}
.character-buttons button:active {
    transform: none;
    box-shadow: none;
    transition: all .05s ease-in-out;
}
#character-reset {
    background: var(--enduring-red)
}
#character-save {
    background: #11b5bb;
}
#character-save:disabled {
    background: #b6f9fc;
    color: #363636cc;
}

@media (min-width: 750px) {
    .character-body {
        padding: var(--body-padding-large);
    }

    .character-no-user {
        font-size: 16px;
    }

    .character-skills > div {
        width: 32.5%;
        margin-bottom: 20px;
    }
    .character-skills > div > div:not(:first-child) {
        font-size: 14px;
    }

    .character-buttons {
        padding-right: 20%;
        padding-left: 20%;
    }
    .character-buttons button {
        transform: translateY(3px);
        box-shadow: none;
    }
    .character-buttons button:hover {
        transform: translateY(-3px);
        box-shadow: 0px 6px 12px #0008;
        transition: all .2s ease-in-out;
    }
    .character-buttons button:active {
        transform: none;
        box-shadow: none;
        transition: all .05s ease-in-out;
    }
}