.equip-loading-main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background: var(--main-bg);
    color: #fff;
}

.equip-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /* border: 1px solid #007bff */
}

.equip-head {
    display: flex;
    /* background: #004ca3; */
    border-radius: 0 3px 0 0;
}
.equip-head-name {
    height: 22px;
    width: 30%;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    background: #007bff;
    border-radius: 3px 0 0 0;
    text-shadow: 2px 2px 2px #000;
}
.equip-head-name div {
    cursor: pointer;
}
.equip-head-tri {
    width: 0;
    height: 0;
	border-bottom: 22px solid #007bff;
    border-right: 20px solid transparent;
}

.equip-data {
    min-height: 45px;
    border: 2px solid #007bff;
    border-radius: 0 3px 3px 3px;
    padding: 6px 10px;
}

.equip-item {
    padding: 6px;
}
.equip-item:not(:last-child) {
    border-bottom: 1px solid #777;
}
.equip-item > div {
    margin-bottom: 5px;
}

/* Showing labels on smaller screens */
.ei-name {
    text-decoration: underline;
}
.ei-name input {
    width: 90%;
    margin-top: 1px;
}
.ei-bonus::before {
    content: 'Bonus: ';
}
.ei-damage::before {
    content: 'Damage: ';
}
.ei-ammo::before {
    content: 'Ammo: ';
}
.ei-cost::before {
    content: 'Cost: ';
}

.ei-r-ranges {
    display: flex;
    justify-content: space-between;
}
.ei-r-ranges::before {
    content: "Range:";
}

.ei-notes {

}

.ei-bottom-button {
    min-height: 16px;
    min-width: 86px;
    border: 1px solid #007bff;
    border-radius: 3px;
    color: #3697ff;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 10px;
}

.ei-m-finesse::before {
    content: 'Finesse: ';
}

@media (min-width: 750px) {
    .equip-item {
        height: 100%;
        width: 100%;
        display: flex;
        /* border: 1px solid red; */
    }

    .ei-left {
        /* height: 100%; */
        /* width: 26%; */
    }

    .ei-name {
        height: 100%;
        width: 160px;
        text-decoration: none;
        padding-left: 6px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-right: 1px solid #444;
        transition: all .15s ease-in-out;
    }
    .ei-name:hover {
        background: #3697ff;
        border-radius: 3px;
        text-shadow: 2px 2px 6px #000;
        cursor: pointer;
    }

    .ei-right {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }
    .ei-right > div {
        border-right: 1px solid #444;
    }

    .ei-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #444;
        padding: 3px 0 6px 0;
    }
    .ei-top > div {
        width: 10%;
    }
    .ei-top div {
        display: flex;
        justify-content: center;
    }

    .ei-r-ranges {
        width: 40% !important;
    }
    .ei-damage {
        width: 20% !important;
    }
    .ei-g-damage {
        width: 30% !important;
    }
    .ei-ammo {
        background: none;
        transition: all .15s ease-in-out;
    }
    .ei-ammo:hover {
        background: #00c700;
        border-radius: 3px;
        text-shadow: 2px 2px 6px #000;
        cursor: pointer;
    }
    .ei-cost {
        width: 20% !important;
        transition: all .15s ease-in-out;
    }
    .ei-cost:hover {
        background: #ff4736;
        border-radius: 3px;
        text-shadow: 2px 2px 6px #000;
        cursor: pointer;
    }

    .ei-bottom {
        width: 100%;
        padding: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ei-base {
        font-size: 10px;
    }
    .ei-base select {
        font-size: 10px;
        height: 16px;
        border-color: #007bff;
    }

    /* Hiding labels on larger screens */
    .ei-bonus::before {
        display: none;
    }
    .ei-damage::before {
        display: none;
    }
    .ei-ammo::before {
        display: none;
    }
    .ei-cost::before {
        display: none;
    }
    .ei-r-ranges > div {
        padding: 0 6px;
        border-right: 1px solid #444;
    }
    .ei-r-ranges::before {
        display: none;
    }
    .ei-m-finesse::before {
        display: none;
    }
}