.enemy {
    transform: rotate(90deg);
    border-bottom: 1px solid #f00;
}

.friendly {
    border-bottom: 1px solid #0f0;
}

.ship-change {
    opacity: 0;
    transition: opacity .20s ease-in-out;
    border: none;
    overflow: hidden;
}

.friendly:hover .ship-change, .enemy:hover .ship-change {
    display: block;
    cursor: pointer;
    opacity: 1;
    transition: opacity .20s ease-in-out;
}

.ship-delete {
    border-top: 1px solid #ccc4;
}

.ship-deleted {
    display: none;
}