.cs-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -20px;
    margin-bottom: 20px;
}
.cs-head-stats {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.cs-head p {
    font-size: 16px;
}
.cs-head input {
    width: 34px;
    font-size: 20px;
}
.cs-head #karma {
    border: 1px solid var(--karmic-purple);
}
.cs-head #endurance {
    border: 1px solid var(--enduring-red);
}

.cs-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    /* color: #54e4fd */
}
.cs-info input, .cs-info select {
    width: 48%;
    margin-bottom: -1px;
}
.cs-info > div {
    /* border: 1px solid green; */
}

.cs-rank {
    height: 26px;
    /* max-width: 300px; */
    flex: 1;
    /* margin-bottom: 30px; */
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    /* margin-bottom: 60px; */
    padding: 6px 10px;
    border-bottom: 1px solid #faa500;
    border-radius: 20px;
    background: var(--second-bg);
    /* align-self: center; */
}
.cs-rank input {
    border: none;
    border-bottom: 1px solid var(--main-bg);
    background: none;
    text-align: right;
    padding: none;
    margin: none;
    height: auto;
}

.cs-defence {
    width: 250px;
    height: 100px;
    display: flex;
    flex: 2;
    position: relative;
    align-self: center;
    margin-bottom: 60px;
}

.cs-d-box {
    height: 50px;
    width: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px -45px -45px -45px; /* (Mostly) half div width */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}
.cs-d-box div:first-child {
    width: 100%;
    border-bottom: 1px solid #54e4fd;
    text-align: left;
}
.cs-d-box div:last-child {
    width: 100%;
    text-align: right;
    font-size: 30px;
}

.deg0 { /* Parry */
    transform: translate(125px);
}
.deg90 { /* Speed */
    transform: rotate(90deg) translate(50px) rotate(-90deg);
}
.deg180 { /* Dodge */
    transform:translate(-125px);
}
.deg270 { /* Tactics */
    transform: rotate(270deg) translate(50px) rotate(-270deg);
}

.cs-info-stats {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    /* width: 100%; */
    flex: 1;
    justify-content: space-between;
}

.cs-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cs-body-col {
    width: 100%;
    margin-bottom: 20px;
}

.cs-hide-skills-button {
    width: 100%;
    height: 20px;
    border: 1px solid #777;
    border-radius: 3px;
    text-align: center;
    outline: none;
    color: #ddd;
    background: var(--second-bg);
}

.cs-skills-show {
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.cs-skills-hide {
    display: none;
}

.cs-backgrounds {
    /* height: 120px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (min-width: 750px) {
    .cs-info {
        /* margin-top: 60px; */
        align-items: center;
        flex-direction: row;
    }

    .cs-body {
        flex-direction: row-reverse;
    }

    .cs-body-col {
        width: 30%;
    }
    .cs-body-col-equip {
        width: 66%;
    }

    .cs-rank {
        align-self: center;
    }

    .cs-karmas {
        max-height: 190px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cs-hide-skills-button {
        display: none;
    }

    .cs-skills-show {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid #777;
    }
}