.nav-main {
    height: calc(100vh - 18px);
    width: 200px;
    background: #0a0a0add;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 18px;
    left: -200px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    opacity: 0.3;
    z-index: 40;
    transition: all .2s ease-in-out;
}

.nav-show {
    transform: translateX( 200px );
    opacity: 1;
}

.nav-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav-link {
    height: 30px;
    width: 100%;
    border-top: 1px solid #ffa500;
    border-bottom: 1px solid #ffa500;
    padding-left: 20px;
    margin-top: -1px;
    color: #ffa500;
    display: flex;
    align-items: center;
}

.nav-auth {
    margin-top: -30px;
    background: none;
    border-right: none;
    border-left: none;
    outline: none;
    cursor: pointer;
}

.nav-spacer {
    width: 100%;
    height: 30px;
}

@media (max-width: 700px) {
    .nav-main {
        height: calc(100vh - 24px);
        top: 24px;
    }
}

/* DICEROLLER COMPONENT */
.diceroller-main {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 6px 3px;
    position: absolute;
    bottom: 0px;
}

.diceroller-input {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diceroller-i-header {
    display: flex;
}

.diceroller-die-type {
    width: 20px;
    height: 16px;
    font-size: 10px;
    padding: 0px;
    text-align: center;
}

.diceroller-i-content {
    width: 100%;
    display: flex;
    padding: 0 10px;
    margin-top: 3px;
}
.diceroller-i-content input {
    width: 75%;
    border-radius: 3px 0 0 3px;
}
.diceroller-i-content button {
    width: 25%;
    height: 24px;
    background: none;
    color: #11b5bb;
    border: 1px solid #11b5bb;
    border-left: 1px solid #faa500;
    border-radius: 0 3px 3px 0;
    margin-left: -1px;
    cursor: pointer;
}

.diceroller-results {
    width: 100%;
    height: 50%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 20px 0;
}

.diceroller-r-die {
    width: 100%;
    height: 100%;
    max-height: 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.diceroller-r-die > div {
    margin: 0 10px 10px 10px;
}
.diceroller-r-die::-webkit-scrollbar {
    width: 2px;
}
.diceroller-r-die::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    background: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.diceroller-r-total {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    color: #00fa21;
}
